h1 {
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    font-size: 3.5rem;
    width: 25%;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 0 0 5px hsl(354, 73%, 43%),
        0 0 0 10px white,
        0 0 0 15px black;
}

h4 {
    margin-top: 25px;
}

main {
    background: url('https://img3.goodfon.com/wallpaper/nbig/d/3b/wood-colour-pattern-dark-dark.jpg');
    padding-top: 40px;
    padding-bottom: 40px;
}

#deck {
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: url('https://image.freepik.com/premium-vector/poker-table-background-green-color_47243-1068.jpg');
}

li {
    background: white;
    width: 100px;
    padding-top: 40%;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    animation-name: cover;
    animation-duration: 4s;
    animation-delay: 3s;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: 5px;
}


#deck.pause li {
    animation-play-state: paused;
}

p {
    padding: 40px;
    color: white;

}

#punteggio {
    padding: 25px;

    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes cover {
    12% {
        background-image: url('https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1277668.jpg');
        background-size: cover;


    }

    25% {
        color: transparent;
        background-image: url('https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1277668.jpg');
        background-size: cover;


    }


    50% {
        transform: scaleX(-1);
        color: transparent;
        background-size: cover;
        background-image: url('https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1277668.jpg');

    }

}